/* PRIMARY: rgb(191, 49, 49); */
/* SECONDARY: rgb(248, 255, 210) */


.tweet:hover{
    /* padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 35px;
    padding-right: 35px; */
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 27px;
    padding-right: 27px;
}

.myfont{
    font-family: "Roboto";
    font-weight: bold;
    font-size: large;
}

.logoFont{
    font-family: "Lobster";
    font-size: 24px;
}


.textVertical{
    vertical-align: middle;
}


.logoText{
    font-size: large;
    /* color: #e63946; */
    /* color: rgb(138, 218, 178); */
    color: rgb(248, 255, 210);
    
}

.jumbo{
    /* background-color: rgb(252, 245, 237); */
    /* background-color: rgb(223, 130, 108); */
    /* background-color: rgb(233, 117, 42); */
    background-color: rgb(205, 141, 122);
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    border-style: none;
    box-shadow: 0px 5px 5px 10px rgba(0, 0, 0, 0.15);
    font-family: "Roboto";
}

.restDiv{
    /* background-color: rgb(255, 229, 229); */
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 15px;
    border-style: none;
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.15);    
}

.growDiv{
    transition: padding 0.2s;
}

.logoImg{
    height: 70x;
    width: 100px;
    border-style: none;
    /* border-radius: 75px; */
    object-fit: cover;
}

.LinkedInFreeTrail{
    color: white;
    font-weight: bold;
    font-family: monospace;
    font-size: x-large;
    /* background-color: rgb(233, 117, 42); */
    /* background-color: rgb(126, 48, 225); */
    background-color: rgb(0, 170, 255);
    margin: 5px;
    width: 60%;
    border-style: none;
    /* height: 33px;
    width: 150px; */
    border-radius: 15px;
    cursor: default;

    padding-top: 10px;
    padding-bottom: 10px;
    /* padding-left: 20px;
    padding-right: 20px; */
}

.LinkedInFreeTrail:hover{
    margin: 10px;
    background-color: rgba(0, 170, 255, 0.6);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

.tweet{
    color: white;
    font-weight: bold;
    background-color: rgb(0, 170, 255);
    margin: 5px;
    border-style: none;
    /* height: 33px;
    width: 150px; */
    border-radius: 15px;
    cursor: default;
    font-size: large;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    
}

.tweet:hover{
    background-color: rgba(0, 170, 255, 0.6);
}

.searchDiv{
    display: inline-block;
    border-style: none;
}

.searchBox{
    padding: 10px;
    border-style: solid;
    border-radius: 10px;
    /* font-family: monospace; */
    font-size: medium;
    font-weight: 550;
    display: inline-block;
    margin: 10px;
}

button{
    transition: padding 0.2s;
}

.gridDiv{
    text-align: center;
    display: grid;
    grid-auto-flow: column;
    /* grid-template-columns: auto auto auto; */
    padding: 10px;    
}

.cityImage{
    object-fit: cover;
    height: 300px;
    width: 400px;
    margin: 20px;
    transition: height 0.3s, width 0.3s;
}


.cityImage:hover{
    height: 325px;
    width: 440px;
}


.profileImage{
    object-fit: cover;
    height: 150px;
    width: 150px;
    margin: 20px;
    border-radius: 75px;
}

.profileBox{
    padding: 7px;
    border-style: solid;
    border-radius: 10px;
    width: 50%;
    font-size: medium;
    font-weight: 500;
    display: inline-block;
    margin: 6px;
}
.greyText{
    color:#888888;

}


.verticalCenter{
    display:inline-block;
    vertical-align:middle;
    margin:0px;
    position:absolute;
    top:50% ;
    transform:translateY(-50%);
}

.borderStyle
{
    border-style: solid;
    border-color:#888888 ;
    border-radius: 9px;

}

.titleStyle
{
    font-family: 'Merriweather', sans-serif;
    font-style: italic;
    font-size: 30px;
    /* text-decoration: underline; */
    font-weight: normal;
}

.aboutPara{
    text-justify: distribute;
    font-weight: normal;
    font-size: x-large;
}

.centerText{
    text-align: center;
}

.inlineFlex{
    display: inline-flex;
}